# Test installing from conda-forge

name: Install & test conda-forge package
on: 
  workflow_dispatch:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        os: [ macos-latest, ubuntu-latest, windows-latest ]
        python-version: [ 3.7, 3.8, 3.9 ]
    steps:
    - uses: actions/checkout@v2
    - uses: conda-incubator/setup-miniconda@v2
      with:
        python-version: ${{ matrix.python-version }}
        activate-environment: test
    - name: Install homonim
      run: |
        conda info
        conda config --add channels conda-forge
        conda config --set channel_priority strict
        conda install homonim
        conda list
    - name: Test homonim
      run: |
        pwd
        ls -R
        mkdir ./tests/data/corrected/
        homonim fuse --help
        homonim fuse -m gain-blk-offset -k 5 5 -od ./tests/data/corrected -o ./tests/data/source/3324c_2015_1004_05_0182_RGB.tif  ./tests/data/reference/LANDSAT-LC08-C02-T1_L2-LC08_171083_20150923_B432_Byte.tif
        ls ./tests/data/corrected/*
        test -f ./tests/data/corrected/3324c_2015_1004_05_0182_RGB_FUSE_cREF_mGAIN-BLK-OFFSET_k5_5.tif && echo "Test OK"
