# Test publishing to, and installing and running with Test PyPI

name: Build & publish to Test PyPI
on:
  workflow_dispatch:

jobs:
  # Build homonim package and upload to Test PyPI
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build twine
      - name: Build package
        run: python -m build
      - name: Publish package to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.TEST_PYPI_TOKEN }}
          repository_url: https://test.pypi.org/legacy/
      - name: Clean up
        run: rm -Rf *

  # Install homonim from Test PyPI and test CLI
  test:
    needs: publish
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ macos-latest, ubuntu-latest ]
        python-version: [ 3.6, 3.7, 3.8, 3.9 ]
    steps:
      - uses: actions/checkout@v2   # checkout repository so we can use test data
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install homonim from Test PyPI
        run: |
          python -m pip install --upgrade pip
          python -m pip install --extra-index-url https://test.pypi.org/simple/ homonim
      - name: Test homonim CLI
        timeout-minutes: 5
        run: |
          pwd
          ls -R
          mkdir ./tests/data/corrected/
          homonim fuse --help
          homonim fuse -m gain-blk-offset -k 5 5 -od ./tests/data/corrected -o ./tests/data/source/3324c_2015_1004_05_0182_RGB.tif  ./tests/data/reference/LANDSAT-LC08-C02-T1_L2-LC08_171083_20150923_B432_Byte.tif
          ls ./tests/data/corrected/*
          test -f ./tests/data/corrected/3324c_2015_1004_05_0182_RGB_FUSE_cREF_mGAIN-BLK-OFFSET_k5_5.tif && echo "OK"
